.navbar {
  a {
    color: #6c757d;
  }
}

.archive {
    .card {
        background: #eee;
        color: #6c757d;
        text-decoration: line-through;
        border: none;
      }
      .btn-success {
        display: none;
      }
      .btn-danger {
        background: none;
        color: #dc3545;
        border: none;
      }
}

.fall-effect {
    opacity: 0;
    animation: fall-down 1.5s ease-out;
  }
  
  @keyframes fall-down {
    from {
      transform: translate(0, 0);
      opacity: 1;
    } to {
      transform: translate(0px, 500px) rotate(45deg);
      opacity: 0;
    }
  }